<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>login.html</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
</head>
<body>
<h2>欢迎来到不知道什么的系统</h2>
<br/>
<br/>
<div class="login-container">
    <div class="form-group">
        <label>用户名：</label>
        <input type="text" placeholder="请输入用户名/手机号/邮箱">
    </div>
    <div class="form-group">
        <label>密码：</label>
        <input type="password" placeholder="请输入密码">
    </div>
    <button>登录</button>
</div>
</body>
</html>
