<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>用户注册</h1>
<form action="#" th:action="@{/register}" method="post">
    <label for="regUsername">用户名：</label>
    <input type="text" id="regUsername" name="username"><br>
    <label for="regPassword">密码：</label>
    <input type="password" id="regPassword" name="password"><br>
    <label for="regPassword">地址：</label>
    <input type="password" id="regAddress" name="address"><br>
    <label for="regPassword">邮箱：</label>
    <input type="password" id="regEmail" name="email"><br>
    <label for="regPassword">性别：</label>
    <input type="password" id="regGender" name="gender"><br>
<!--    <label for="regPassword">出生日期：</label>-->
<!--    <input type="password" id="regBirthDate" name="birthdate"><br>-->
    <input type="submit" value="注册">
</form>
<div id="result"></div>
<script>
    $(document).ready(function() {
        $('#registerBtn').click(function() {
            var formData = {
                username: $('#regUsername').val(),
                password: $('#regPassword').val(),
                email: $('#regAddress').val(),
                phone: $('#regEmail').val(),
                birthdate: $('#regBirthDate').val(),
                gender: $('#regGender').val()
            };

            $.ajax({
                url: '/register',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function(response) {
                    $('#result').text(response);
                },
                error: function() {
                    $('#result').text('请求出错');
                }
            });
        });
    });
</script>
</body>
</html>