<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" type="text/css" href="/static/css/common.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>用户注册</h1>
    <div class="login-container">
        <div class="form-group">
            <label>用户名：</label>
            <input type="text" id="regUsername" name="name" placeholder="请输入用户名" required>
        </div>
        <div class="form-group">
            <label>密码：</label>
            <input type="password" id="regPassword" name="password" placeholder="请输入密码" required>
        </div>
        <div class="form-group">
            <label>地址：</label>
            <input type="text" id="regAddress" name="address" placeholder="请输入地址" required>
        </div>
        <div class="form-group">
            <label>邮箱：</label>
            <input type="text" id="regEmail" name="email" placeholder="请输入邮箱" required>
        </div>
        <div class="form-group">
            <label>电话：</label>
            <input type="text" id="regPhone" name="phone" placeholder="请输入电话" required>
        </div>
        <div class="form-group">
            <label>出生日期：</label>
            <input type="date" id="regBirthday" name="birthday" placeholder="请选择出生日期" required>
        </div>
        <div class="form-group">
            <label>性别：</label>
            <select id="regGender" name="gender">
                <option value="M">男</option>
                <option value="F">女</option>
            </select>
        </div>
        <button type="submit" id="registerBtn">注册</button>
    </div>
<div id="result"></div>
<script>
    $(document).ready(function() {
        $('#registerBtn').click(function() {
            var formData = {
                name: $('#regUsername').val(),
                password: $('#regPassword').val(),
                email: $('#regEmail').val(),
                address: $('#regAddress').val(),
                gender: $('#regGender').val(),
                birthday: $('#regBirthday').val(),
                phone: $('#regPhone').val()
            };
            $.ajax({
                url: '/register',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function(response) {
                    if (response.success) {
                        localStorage.setItem('username', response.data.username);
                        localStorage.setItem('password', response.data.password);
                    }
                    window.location.href = '/login';
                },
                error: function() {
                    $('#result').text('请求出错');
                }
            });
        });
    });
</script>
</body>
</html>