<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户主页面</title>
</head>
<body>
<h1>欢迎来用户主页面。。。。。。</h1>
<p id="usernameDisplay"></p>
<script>
    // 获取本地存储中的用户名
    var username = localStorage.getItem('username');

    // 如果用户名存在，则展示在页面上
    if (username) {
        document.getElementById('usernameDisplay').innerHTML = '欢迎你，' + username;
    }
    // 清除本地存储中的数据
    localStorage.removeItem('username');
    localStorage.removeItem('password');
</script>
</body>
</html>